In [11]:
import pandas as pd

pandas 使用 DataFrame 作为数据结构，其中一个是Series

In [12]:
s = pd.Series(['aaa','bbb','ccc'])
s

0    aaa
1    bbb
2    ccc
dtype: object

In [17]:
s = pd.Series(['aaa','bbb','ccc'],index = ['a','b','c'])
s

a    aaa
b    bbb
c    ccc
dtype: object

In [25]:
s.values

array([ 42,  23, -34,  34, -34])

过滤想要的pandas行
1) 使用 boolean 条件筛选
2) 索引

In [24]:
s = pd.Series([42,23,-34,34,-34])
idx = s.index % 2 == 1
idx = s % 2 ==0
s[idx]

0    42
2   -34
3    34
4   -34
dtype: int64

DataFrame 是一些 Series 的集合，DataFrame 是一个二维数据结构，DataFrame 的列可以是不同的数据类型。

In [34]:
#从csv文件
elections = pd.read_csv("/home/smy/data100/week1/test.csv",index_col='year')
elections

     name
year
2003  smy
2005  wfv
2006  sdf
2003  eef

In [38]:
# elections.set_index('year', inplace=True)
elections.reset_index(inplace=True)
elections

   year  index name
0  2003      0  smy
1  2005      1  wfv
2  2006      2  sdf
3  2003      3  eef

In [40]:
pd.DataFrame([[34,'de'],[34,'de'],[34,'de'],[34,'de'],[34,'de']],columns=['number','name'])

   number name
0      34   de
1      34   de
2      34   de
3      34   de
4      34   de

In [55]:
s_a = pd.Series([1,2,3,4,5,1,2,3,4,2,1,2,3,1,2,1,2,2,343,234,234,234,234,234])
s_b = pd.Series([4,5,6,7,8])
s_c = pd.Series([1,2,3,4,5,6,7,8,9,10])
e = pd.DataFrame({'a':s_a,'b':s_b,'c':s_c})
print(e.index)
print(e.columns)
print(e.shape)
print(e.head())
print(e.tail())

RangeIndex(start=0, stop=24, step=1)
Index(['a', 'b', 'c'], dtype='object')
(24, 3)
   a    b    c
0  1  4.0  1.0
1  2  5.0  2.0
2  3  6.0  3.0
3  4  7.0  4.0
4  5  8.0  5.0
      a   b   c
19  234 NaN NaN
20  234 NaN NaN
21  234 NaN NaN
22  234 NaN NaN
23  234 NaN NaN

In [58]:
print(e.loc[[10,2],['c','a']])
print(e.loc[[10,2],'a':'b'])
print(e.loc[e.index % 2 == 0,'a':'b'])

      c  a
10  NaN  1
2   3.0  3
    a    b
10  1  NaN
2   3  6.0
      a    b
0     1  4.0
2     3  6.0
4     5  8.0
6     2  NaN
8     4  NaN
10    1  NaN
12    3  NaN
14    2  NaN
16    2  NaN
18  343  NaN
20  234  NaN
22  234  NaN

In [66]:
print(len(e))
print(e.iloc[len(e) // 2, 0])

24
3